#header{
    width:100%;
    height: 100vh;
    background-image: url(images/Invitation.jpg);
    background-size: cover;
    background-position: center;
}
.button{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px ;
    text-decoration: none;
    color: black;
    background: #ff004f;
}